body {
    margin: 0;
    padding: 0;
    font-family: 'Dragalia Lost', 'Roboto', sans-serif;
    width: 100%;
    height: 100%;
    min-width: 100vw;
    min-height: 100vh;
    background-color: transparent;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    font-size: 4rem;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;
    width: 100%;
}

.pokemon-image {
    width: 20vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
        max-width: 100%;
    }
}

#pokemon-ethymology {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    gap: 5%;

    li {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

hgroup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    h1, h2, h3, h4, h5, h6 {
        margin: 0;
        padding: 0;
    }
}

.legend {
    font-size: 0.8em;
    font-style: italic;
    opacity: 0.6;
    margin: 0;
}

.pokemon-name-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
}